/* || CCS RESET */
*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* || FONTS*/

@font-face
{
    font-family: Helvetica;
    src: url(../Assets/fonts/Helvetica.ttf);
}

@font-face
{
    font-family: Coolvetica;
    src: url(../Assets/fonts/coolvetica-rg.otf);
}


/* || VARIABLES */
:root
{
    /* COLORS */
    --gradientBg: linear-gradient(to right, #C01F1F, #5A0F0F);
    --mainText: white;
}

/* DARK MODE VARIABLES */
@media (prefers-color-scheme: dark)
{
    :root
    {
        --gradientBg: linear-gradient(to right, #C01F1F, #5A0F0F);
    }
}

/* || UTILITY CLASSES */
.nowrap
{
    white-space: nowrap;
}

#pop-out:hover
{
    transform: scale(1.01);
    cursor: pointer;

}

html
{
    background-color: #FAFAFA;
}

/* || HEADER START */

header
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-image: var(--gradientBg);

    padding: 20px 0;
}

header .header-logo
{
    width: 20%;


    cursor: pointer;
}

.navBar-logo
{
    width: 20%;
    cursor: pointer;
    display: none;
}

.PostNews-button.PC
{
    position: absolute;
    top: 15px;
    left: 80px;

    background-color: #8B0000;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.9em;
}

.LogOut-button.PC
{
    position: absolute;
    top: 50px;
    left: 80px;


    background-color: #8B0000;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.9em;
}

/* always hide the buttons on nav be default */
.PostNews-button.mobile,
.LogOut-button.mobile,
.mobile-only
{
    display: none;
}

header nav
{
    padding: 10px 0;

    width: 100%;
}

header .navBar
{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
}

header .navBar .menu
{
    padding: 10px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 100%;

    color: var(--mainText);
    list-style-type: none;

    transition: all 0.3s ease-in-out;
}

header .navBar .menu li
{
    margin-left: 3rem;
}

header .navBar .menu li a
{
    display: inline-block;
    position: relative;

    cursor: pointer;
    font-family: Helvetica;

    color: white;

    text-decoration: none;

}

header .navBar .menu li a:visited,
header .navBar .menu li a:active
{
    color: white;
    text-decoration: none;
}

header .navBar .menu li a::after
{
    content: "";
    background-color: white;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 2px;

    transition: all 0.2s;
}

header .navBar .menu li a:hover::after
{
    width: 100%;
}

header .user-Account
{
    font-size: 2.5rem;
    color: white;
    background-color: transparent;
    border: none;

    position: absolute;
    left: 20px;
    top: 20px;
}

/* SIDEBAR */



.PostNews-button.mobile,
.LogOut-button.mobile
{

    display: flex;

    background-color: #8B0000;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 0.9em;

    padding: 8px 16px;
}

.open-menu,
.close-menu
{
    position: absolute;
    font-size: 1.5rem;
    color: white;

    display: none;
}

.open-menu
{
    right: 28px;
    top: 28px;
}

.close-menu
{
    top: 28px;
    right: 28px;
}

#check
{
    display: none;
}

/* || HEADER END */

/* || MAIN START */

main
{
    width: 90%;
    margin: 0 auto;

    /*   background-color: pink; */
}

/* || HOMEPAGE START */

main hr
{
    width: 100%;
    margin: auto;
    border: none;
    border-top: 2px solid #C01F1F;
}

h2
{
    font-family: Coolvetica;
}

h3,
h4,
p
{
    font-family: Helvetica;
}

.yummy
{
    width: auto;
    height: 50%;
    object-fit: cover;
    aspect-ratio: 16/9;
}

main .main-header
{
    font-family: Coolvetica;
    font-size: 3rem;
}

.news
{
    display: flex;
    flex-direction: row;

    gap: 20px;
}

.other-main-news,
.other-main-news-no-img
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.other-main-news .container.two,
.other-main-news-no-img .container.two
{
    flex: 0 0 calc(50% - 20px);
    box-sizing: border-box;
}

.headline
{
    text-align: left;
    font-family: Coolvetica;
    font-size: 1.75rem;
}

.main-news
{
    font-size: 1.50rem;
    font-family: Helvetica;
}

.container
{
    padding: 1rem;
    border-radius: 0.7rem;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    transition: all 0.2s ease-in-out;
}

.container.two .headline
{
    text-align: left;
    font-family: Coolvetica;
    font-size: 1.1rem;
}

.container.two .main-news
{
    font-size: .85rem;
    font-family: Helvetica;
}

.container.one
{
    margin: 20px 0;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-grow: 1;
    overflow: hidden;
    align-items: stretch;
}

.container.one img
{
    width: 50%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
    flex: 1;
}

.container.two
{
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    flex-shrink: 1;
    font-family: Coolvetica;
    font-size: 1.55rem;
    font-weight: 10;
    overflow: hidden;
}

.container.two img
{
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 16/9;
}

.container img
{
    width: 100%;
    height: 100%;
    object-fit: cover;
    aspect-ratio: 16/9;
    margin: 0;
}

.news-item
{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin: 1.2rem 0;
    min-width: 0;
    height: 100%;
}

.news-item img
{
    width: auto;
    height: 100%;
    object-fit: cover;
}

.editorial.item
{
    display: flex;
    gap: 1rem;
    align-items: flex-start;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0 -0.5rem;
}

.editorial.item img
{
    width: 50%;
    height: auto;
    object-fit: cover;
    flex-shrink: 0;
}

.editorial.item>div
{
    flex: 1 1 calc(50% - 1rem);
    min-width: 0;
    padding: 0.5rem;
}

.editorial.item img
{
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}

.editorial.news
{
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.editorial.news .container.two
{
    flex: 1 1 calc(50% - 1rem);
    max-width: calc(50% - 1rem);
    box-sizing: border-box;
}


.editorial.item img
{
    width: 100%;
    height: auto;
    max-height: 150px;
    object-fit: cover;
}




/* || CARD */

.card-container
{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 20px;

    color: white;

    padding: 20px 0;
}

.card
{
    padding: 13% 0;
    width: 100%;
    height: auto;
    background-image: linear-gradient(rgba(90, 15, 15, 0.8), rgba(192, 31, 31, 0.8)), url("../Assets/testIMG.jpg");

    background-size: cover;
    background-repeat: no-repeat;

    font-size: 1.5rem;
    font-family: Coolvetica;
    font-weight: 100;

    transition: all 0.2s ease-in-out;
}

.other-news
{
    display: flex;
    flex-direction: row;

    /*gap: 20px;*/
}


.other-news h2
{
    border-top: 2px solid red;
    border-bottom: 2px solid red;
}

.sports.news,
.feature.news,
.editorial.news
{
    padding: 20px;
}

.viewMore
{
    color: #555;
}

.viewMore:hover
{
    color: #fc0000;
}


/* || HOMEPAGE END */


/* || ARTICLE START */

.article-header
{
    padding: 20px;
}

.top-section
{
    margin-bottom: 15px;
}

.category
{
    font-size: 1.5rem;
    color: #555;
    font-weight: bold;
}

.headline
{
    font-size: 2rem;
    font-weight: bold;
    margin: 5px 0;
}

.date
{
    font-size: 0.9em;
    color: #777;
}

.bottom-section
{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.author-info
{
    display: flex;
    flex-direction: column;
}

.author-name
{
    font-weight: bold;
}

.author-role
{
    font-size: 0.9em;
    color: #555;
}

.edit-button
{
    background-color: #8B0000;
    color: white;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    font-size: 0.9em;
}

.article img
{

    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.more-articles hr
{
    height: 2px;
    background-color: #C01F1F;
    border: none;
}

.more-articles
{
    margin-top: 2rem;
}

.more-articles h3
{
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.article-preview
{
    display: flex;
    align-items: center;
    margin-bottom: 1rem;

    color: white;
}

.article-preview img
{
    width: 100px;
    height: 60px;
    margin-right: 1rem;
}

.article-preview:link
{
    color: black;
}

.article-preview:visited
{
    color: black;
}

.article-preview:hover
{
    color: firebrick;
    text-decoration: underline;
}

.article-preview:active
{
    color: palevioletred;
    background-color: transparent;
    text-decoration: underline;
}

#more-articles
{
    h3
    {
        padding: 0;
        margin: 0;
    }
}

.article-content
{
    text-indent: 50px;
    max-width: 65rem;
    margin: 0 auto;
    margin-top: 1rem;
    text-align: justify;

    line-height: 1.3rem;
}


/* || ARTICLE END */


/* || PRIVACY POLICY START */

main .content
{
    margin-top: 25px;
}

main .section
{
    margin-top: 25px;
    margin-bottom: 30px;
}

main .privacypolicy h1
{
    font-size: 4rem;
    font-family: Coolvetica;
}

main .privacypolicy h2
{
    font-size: 2rem;
    line-height: 2.9rem;

    font-family: Coolvetica;
}

main .privacypolicy p
{
    font-size: 1rem;
    font-family: Helvetica;
}

/* || PRIVACY POLICY END */

/* || CREATE ARTICLE START */

.createArticle
{
    padding: 10px 0;
    font-family: Coolvetica;
}

.createArticle h1
{
    font-size: 3rem;
    font-weight: bolder;
}

.createArticle .inputContainer
{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 10px 0;
    font-family: Helvetica;
}

.createArticle .inputContainer label
{
    font-weight: bolder;
}

.createArticle #inputContainer input,
.createArticle #inputContainer textarea
{
    width: 100%;
    background-color: #fdfdfd;
    border: 1px solid black;
    padding: 7px;
    border-radius: 2px;
}

.createArticle #inputContainer input
{
    padding: 7px;
}

.createArticle #inputContainer select
{
    display: flex;
    gap: 5px;
    padding: 7px;
    background-color: #D9D9D9;
}

.submit-cancel-container input
{
    padding: 1rem 3rem;
    margin: 1rem 0;

    border-radius: 1rem;

    font-weight: bold;
    cursor: pointer;
}

.submit-cancel-container input:first-child
{
    color: white;
    background-color: #C01F1F;
}

.submit-cancel-container input:last-child
{
    border: 2px solid #C01F1F;
}


/* || CREATE ARTICLE END */

/* || MAIN END */



/* || FOOTER START */

footer
{
    background-image: var(--gradientBg);
    height: 60rem;
}

footer .socials
{
    text-align: center;
    color: white;
}

footer .socials
{
    font-weight: 600;
    padding: 10px;
}

footer .socials .icons
{
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    width: 30%;
    margin: auto;

    list-style: none;
    padding: 8px 0 30px 0;
}

footer .socials .icons i
{
    color: white;
    font-size: 2rem;
}


footer hr
{
    width: 95%;
    margin: auto;
}

footer .logo img
{

    height: auto;
    width: 15%;
}

footer .logo h3
{
    font-size: 4rem;
    font-weight: 200;
    font-family: Coolvetica;

    color: white;
    padding: 0 0 3rem 1.5rem;
}

footer .about
{
    list-style: none;
    padding: 0 0 15rem 1.5rem;

    font-family: Helvetica;

}

footer .about li
{
    padding-top: 1rem;
}

footer .about a
{
    color: white;
    text-decoration: none;
    font-family: Coolvetica;

}

footer .copyright
{
    color: white;
    padding: 0 0 0 1.5em;
}

/* || FOOTER END */

/* || EMPTY ARTICLE START*/

.errEmpty
{
    font-family: Coolvetica;
    font-size: x-large;
    padding: 20%;
}

/* || EMPTY ARTICLE END*/

.container.three
{
    flex: 0 0 50%;
    border-right: 2px solid #ccc;
    padding-right: 20px;
    display: flex;
    flex-direction: column;
}

.container.four
{
    flex: 0 0 50%;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.container.three img,
.container.four img
{
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: cover;
    border-radius: 10px;
}



/* || MOBILE SCREEN SIZE */
@media screen and (max-width: 810px)
{

    .PostNews-button.mobile,
    .LogOut-button.mobile
    {

        display: flex;

        background-color: #8B0000;
        color: white;
        border: none;
        cursor: pointer;
        font-size: 0.9em;

        padding: 8px 16px;
    }


    .PostNews-button.PC,
    .LogOut-button.PC
    {
        display: none;
    }

    /* || HEADER START */
    header .header-logo
    {
        width: 45%;

        cursor: pointer;
    }

    /* || HEADER END */

    .news,
    .container.one,
    .other-main-news,
    .card-container,
    .other-news
    {
        display: flex;
        flex-direction: column;
    }

    .container.one img
    {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 16/9;
    }

    /* || NAVIGATION START */
    header .navBar .menu
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 1.2rem;
        background-color: white;
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100vh;
        color: var(--mainText);
        z-index: 999;
    }

    header .navBar .menu li
    {
        margin-left: 1.5vb;
        width: 100%;
    }

    header .navBar .menu li a,
    header .navBar .menu li a:active,
    header .navBar .menu li a:visited
    {
        font-family: Coolvetica;
        font-size: 1.5rem;
        color: black;
    }

    .close-menu
    {
        color: black;
    }

    header .navBar .menu .button-container
    {
        display: flex;
        justify-content: space-around;
        margin-top: auto;
    }

    header .navBar .menu .button-container button
    {
        font-size: 1.2rem;
    }

    .mobile-only
    {
        display: flex;
        justify-content: center;
    }

    .open-menu,
    .close-menu
    {
        display: block;
    }

    .navBar-logo
    {
        display: flex;
        margin: 0 0 10px 8px;
    }

    #check:checked~.menu
    {
        right: 0;
    }

    /* || NAVIGATION END */
}

@media screen and (max-width: 700px)
{

    /* || NAVIGATION START */
    header .navBar .menu
    {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        font-size: 1.2rem;
        background-color: white;
        position: fixed;
        top: 0;
        right: -100%;
        width: 60%;
        height: 100vh;
        color: var(--mainText);
        z-index: 999;
    }

    header .navBar .menu li
    {
        margin-left: 1.5vb;
        width: 100%;
    }

    header .navBar .menu li a,
    header .navBar .menu li a:active,
    header .navBar .menu li a:visited
    {
        font-family: Coolvetica;
        font-size: 1.5rem;
        color: black;
    }

    .close-menu
    {
        color: black;
    }

    header .navBar .menu .button-container
    {
        display: flex;
        justify-content: space-around;
        margin-top: auto;
    }

    header .navBar .menu .button-container button
    {
        font-size: 1.2rem;
    }

    .mobile-only
    {
        display: flex;
        justify-content: center;
    }

    .open-menu,
    .close-menu
    {
        display: block;
    }

    .navBar-logo
    {
        display: flex;
        margin: 0 0 10px 8px;
    }

    #check:checked~.menu
    {
        right: 0;
    }
}

/* || TABLET SCREEN SIZE */
@media screen and (max-width: 1141px)
{



    /* || HEADER START */
    header .header-logo
    {
        width: 45%;

        cursor: pointer;
    }

    /* || HEADER END */

    .news,
    .container.one,
    .other-main-news,
    .card-container,
    .other-news
    {
        display: flex;
        flex-direction: column;
    }

    .container.one img
    {
        width: 100%;
        height: auto;
        object-fit: cover;
        aspect-ratio: 16/9;
    }

    .editorial.news
    {
        flex-direction: column;
    }

    .editorial.news .container.two
    {
        flex: 1 1 100%;
        max-width: 100%;
    }

}